/*  All product TABLE  */
.product-section {
  margin-top: 2rem;
}
.product-section h2 {
  margin-bottom: 0.8rem;
}
.product-section a {
  text-align: center;
  display: block;
  margin: 1rem auto;
}
.all-product-table {
  width: 100%;
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}

.all-product-table:hover {
  box-shadow: none;
}
 
.all-product-table .product-tbl-img {
  width: 85px;
  height: 100px;
}
 
.all-product-table .view-btn,
.all-product-table .update-status-btn {
  padding: 10px 5px;
  border-radius: 10px;
  color: var(--color-dark);
  background-color: transparent;
  width: 99px;
}
.all-product-table .view-btn:hover {
  color: var(--color-white);
  background-color: darkblue;
}
.all-product-table .update-status-btn:hover {
  color: var(--color-white);
  background-color: orange;
}

.order-status {
  width: 100px;
  text-align: center;
  border: none;
  border-bottom: 1px solid var(--color-info-dark);
  border-radius: 0;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--color-white);
}
.text-red {
  color: red;
}
.text-blue {
  color: blue;
}
.text-green {
  color: lime;
}

.address {
  width: 200px;
}

/* overriding the property from the library */
.dataTables_wrapper .dataTables_length select{
  background-color: var(--color-white);
}