@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300&display=swap");

/*======== Content =========
1. ROOT VARIABLES 
2. Dark theme VARIABLES
3. GLobal properties
  3.1 (*) all and element type styling
  3.2 Typography and font-color 
  3.3 utility classes
4. Container tag styling (Since all class are structured based on this div container)
=========================*/
/* 1. ROOT VARIABLES */
:root {
  /* --color-primary: #7380ec; */
  --color-primary: #ffc20c;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-information: rgb(0, 10, 197);
  --color-white: white;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(139, 145, 201, 0.2);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-sale-bg-color: #7380ec;
  --card-expense-bg-color: #ff7782;
  --card-monthly-sale-bg-color: #850cff;
  --card-income-bg-color: #41f1b6;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.2rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
  --web-kit-dark: 0;
}

/* 2. DARK-THEME-VARIABLES (Setting opposite of the variable form the root) */
.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
  --web-kit-dark: 1;
}

/* 3. Global properties */
/*  3.1 (*) all and element type styling */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: var(--color-dark);
}

html {
  font-size: 14px;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-size: 0.88rem;
  background-color: var(--color-background);
  user-select: none;
  overflow-x: hidden;
}
img {
  width: 100%;
}

input,
select,
textarea {
  display: block;
  margin: 10px 0px;
  padding: 1rem;
  border: 2px solid var(--color-dark);
  border-radius: 10px;
  background-color: var(--color-white);
}
textarea {
  resize: vertical;
}
select {
  padding: 4px 7px;
}
a {
  color: var(--color-dar);
}
/* 3.2 Typography and font-color */
h1 {
  font-weight: 800;
  font-size: 1.9rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.77rem;
}
p {
  color: var(--color-dark-variant);
}
b {
  color: var(--color-dark);
}

/* 3.3 utility classes */
.primary {
  color: var(--color-primary);
}
.primary-border {
  border: 2px solid var(--color-primary);
  color: var(--color-dark);
}
.primary-border:hover {
  background-color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}
.danger-border {
  border: 2px solid var(--color-danger);
  color: var(--color-danger);
}
.danger-border:hover {
  background-color: var(--color-danger);
  color: white;
}
.success {
  color: var(--color-success);
}
.succcess-bg{
  background-color: var(--color-success);
  border: 0px;
  border:2px solid transparent;
}
.succcess-bg:hover{
  background-color: white;
  border: 0px;
  border:2px solid var(--color-success);
}
.success-border {
  border: 2px solid var(--color-success);
  color: var(--color-dark);
}
.success-border:hover {
  background-color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}
.warning-bg {
  background-color: var(--color-warning);
  border: 0px;
  color: black;
  border:2px solid transparent;
}
.warning-bg:hover {
  background-color: transparent;
  border: 2px solid var(--color-warning);
}
.warning-border {
  border: 2px solid var(--color-warning);
  color: var(--color-dark);
}
.warning-border:hover {
  background-color: var(--color-warning);
}

.information {
  color: var(--color-primary-variant);
}
.information-bg {
  background-color: var(--color-primary-variant);
  color: #ff7782;
  border:2px solid transparent;
}
.information-bg:hover {
  border: 2px solid var(--color-primary-variant);
  background-color: transparent;
}
.information-border {
  border: 2px solid var(--color-primary-variant);
  color: var(--color-primary);
}
.information-border:hover {
  background-color: var(--color-primary-variant);
}
.text-muted {
  color: var(--color-info-dark);
}
.button-flex {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.button-flex > a{
  margin: 10px 0;
}

.inline-block{
  display: inline-block;
}

#category-icon{
  width: 400px;
}
#new-category-form-title{
  text-align: center;
  color: var(--color-primary);
}

/* .table-container-wrap{
    overflow-y: scroll;
    max-height: 80dvh;
} */

#main-container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.9rem;
  grid-template-columns: 14rem auto 23rem;
  background-color: var(--color-background);
}

#empTable_info{
  color: var(--color-dark);
}
#empTable tbody tr td{
  background-color: var(--color-white);
}
#all-product-table thead{
  border-bottom: 2px solid #aca8a8;
}
/* For tablet */
@media screen and (max-width: 1200px) {
  #main-container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }
}

/* For  tablet and large mobile phone */
@media screen and (max-width: 780px) {
  #main-container {
    width: 100%;
    grid-template-columns: 1fr;
  }
  #table-wrapper{
    width: 95%;
    margin: 0 auto;
  }
  #empTable.all-product-table{
    padding: 0;
    font-size: .7rem;
  }
  #empTable tbody th, #empTable tbody td {
    padding: 0;
}
#empTable .edit-btn,
#empTable .remove-btn,
#empTable .view-btn,
#empTable .update-status-btn  {
  padding: 0;
  color: var(--color-dark);
  background-color: transparent;
  border: none;
  width: 70px;
  font-size: .7rem;
}
#empTable .edit-btn:hover,
#empTable .remove-btn:hover,
#empTable .view-btn:hover,
#empTable .update-status-btn:hover  {
  color: blue;
}
}
