/* ======= Content ========
1. Main tag styling
2. Date
3. Insights (card styling)
   3.1 Icon styling
   3.2 Middle text 
   3.3 SVG styling
   3.4 date info
4. Bar chart section
5. Recent order TABLE 

======================== */
#dashbaord-head {
  display: flex;
  justify-content: space-between;
}

/* 1. Main tag styling */
main {
  margin-top: 1.5rem;
  padding: 20px;
  background-color: var(--color-background);
  border-radius: 15px;
}
/* 2. Date */
main .date {
  display: inline-block;
  background-color: transparent;
  border-radius: var(--border-radius-1);
  padding: 0.5rem 1.6rem;
}
::-webkit-calendar-picker-indicator {
  filter: invert(var(--web-kit-dark));
}
main .date input[type="date"] {
  background-color: transparent;
  color: var(--color-dark);
}

/* 3. Insights (card styling) */
main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* flex-wrap: wrap; */
  gap: 1.6rem;
}

.card {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}

.insights .card:hover {
  box-shadow: none;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.insights .performance-percent {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e2e1e1;
}


/* 3.1 Icon styling */
.insights .card i {
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.insights .sales-card i {
  background-color: var(--card-sale-bg-color);
}
.insights .order-card i {
  background-color: var(--card-expense-bg-color);
}
.insights .montly-sales-card i {
  background-color: #0a875e;
}

/* 3.2 Middle text  */

.insights .card .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.insights .card .middle .left {
  width: 120px;
}

main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

/* 3.4 date info （Card footer) */
main .insights small {
  display: block;
  margin-top: 1.6rem;
}

/* 4. bar-chart-section */
#bar-chart-section {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
#bar-chart-section .card {
  min-width: 400px;
  padding: 20px;
}
#daily-sale-chart,
#order-count-bar-chart {
  position: relative;
  top: -50px;
  border-radius: 10px;
}
#daily-sale-chart #line-chart,
#order-count-bar-chart #chart-bars {
  display: block;
  width: 358px;
  box-sizing: border-box;
}

#order-count-bar-chart {
  background-color: rgb(80, 8, 181);
}
#daily-sale-chart{
  background-color: #0a875e;
}
#no-order-info,
#no-sales-info{
  text-align: center;
  display: none;
}

#daily-sale-chart,
#order-count-bar-chart,
#no-order-info,
#no-sales-info
 {
  height: 220px;
  line-height: 220px;
}

#bar-chart-section .card .performance-percent  i {
  width: 20px;
}
/* 5 RRECENT ORDERS TABLE  */
main .top-sale-item {
  margin-top: 2rem;
}
main .top-sale-item h2 {
  margin-bottom: 0.8rem;
}
main .top-sale-item a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}
#top-sale-table {
  width: 100%;
  padding: var(--card-padding);
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}

#top-sale-table:hover {
  box-shadow: none;
}

#top-sale-table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
}

#top-sale-table tbody tr:last-child td {
  border: none;
}

/*================== MEDIA QUERIES ================== */
/* For tablet */
@media screen and (max-width: 1200px) {
  main .insights {
    grid-template-columns: 1fr;
    gap: 0;
  }
  main .top-sale-item {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }
  main #top-sale-table {
    width: 83dvw;
  }
  /* main #recent-order-table thead tr th:last-child, */
  main #top-sale-table thead tr th:first-child {
    display: none;
  }
  /* main #recent-order-table tbody tr td:last-child, */
  main #top-sale-table tbody tr td:first-child {
    display: none;
  }
}

/* For smaller tablet and mobile phones */
@media screen and (max-width: 780px) {
  main {
    margin-top: 8 rem;
    padding: 0 1rem;
  }
  main .top-sale-item {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  main #top-sale-table {
    width: 100%;
    margin: 0;
  }
}
