/* ====Content ======
 1. Main section
 2. Product form
    2.1 input text
    2.2 input number
    2.3 text area
    2.4 form buttons
 3. form structuring
 =====================*/

/* 1. Main section */
.product-form-section {
  margin-top: 6rem;
}

.product-form-section .title {
  text-align: center;
  letter-spacing: 5px;
}

/* 2. Product form */
.product-form {
  width: 680px;
  margin: 20px auto;
  padding: 20px;
  font-size: 1.5rem;
  box-shadow: 3px 4px 5px var(--color-dark);
  background-color: var(--color-white);
  border-radius: 20px;
}
.product-form > div {
  width: 90%;
  margin: 0 auto;
}
/* 2.1 input text */
.product-form input[type="text"] {
  width: 100%;
  height: 35px;
  line-height: 35px;
}
/* 2.2 input number */
.product-form input[type="number"] {
  height: 30px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  padding: 15px;
}
/* 2.3 text area */
.product-form textarea {
  margin-top: 10px;
  width: 100%;
  height: 80px;
}
/* 2.4 form buttons */
.product-form .button-flex{
  justify-content: center;
}
.submit-btn,
.cancel-btn {
  padding: 15px 20px;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: var(--color-white);
  border-radius: 20px;
}

/* 3. form structure */

.product-form .inline-block {
  width: 280px;
}
.product-form .inline-block label {
  font-size: 1.2rem;
  font-weight: bold;
}
.product-form .inline-block input {
  width: 100%;
  border: none;
}
.product-form #price,
.product-form #discount,
.product-form #quantity {
  width: 10rem;
  border: 2px solid black;
  border-radius: 10px;
}
