/* ====== Content =========
1.card-list container styling
2 cart box styling
3 cart-list footer styling 
  3.1 cart-list total amount
  3.2 cart-list close btn
  3.3 cart-list open btn
4. Car-list-items animation for removing from the cart list
=====================*/

/* 1.card-list container styling*/
.card-list {
  position: fixed;
  bottom: 5%;
  right: -600px;
  max-width: 420px;
  background-color: #fefefe;
  transition: 0.5s;
  box-shadow: 0 40px 60px black;
  padding: 5px 10px;
  border-radius: 25px;
  z-index: 99;
}
.card-list-title {
  margin: 0;
  font-weight: 600;
}
.card-list ul {
  max-height: 60dvh;
  background-color: rgb(247 247 247);
  overflow: scroll;
}
.card-list li {
  width: 100%;
}

/* 2 cart box styling */
.card-list-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-list-box-description1 {
  padding: 5px 25px 5px 10px;
  width: 270px;
}

.card-list-box-description2 {
  max-width: 100px;
  margin: auto 0;
  text-align: center;
}
.card-list-box-description2 .product-remove-btn {
  border: none;
  background-color: transparent;
}
.card-list-box-description2 i {
  padding: 0 15px;
  font-size: 1.4rem;
}
.card-list-box-description2 i:hover {
  color: red;
}

/* 3 cart-list footer styling */
.card-list-footer {
  display: flex;
  cursor: pointer;
  height: 100%;
}
/* 3.1 cart-list total amount */
.card-list-check-out {
  width: 460px;
  height: 50px;
  color: black;
  text-decoration: none;
  background-color: ghostwhite;
  text-align: center;
  line-height: 50px;
  border-bottom-left-radius: 25px;
}
.card-list-check-out:hover {
  transition: 0.5s;
  background-color: greenyellow;
}

.card-list-check-out::after {
  content: "\f08b";
  font-family: fontAwesome;
  font-size: 20px;
  display: inline-block;
  transform: translateX(-100%);
  position: relative;
  left: 25px;
  transition: transform 0.5s ease-in-out;
}

.card-list-check-out:hover::after {
  transform: translateX(0%);
}

/* 3.2 cart-list close btn */
.card-list-close-btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* 3.3 cart-list open btn */
.card-list-open-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  cursor: pointer;
}

.card-list-open-btn span {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  text-align: center;
  background-color: green;
}
.card-list-open-btn img {
  width: 40px;
  height: 40px;
}

.card-list-close-btn:hover {
  color: red;
}

.card-list-close-btn i {
  font-size: 30px;
}
.card-list-box > img {
  width: 100px;
  height: 100px;
}
#popup-info-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
#popup-info-box i {
  color: rgb(14, 202, 14);
  font-size: 3rem;
}

/* 4. Car-list-items animation for removing from the cart list */
.card-list-items {
  transition: all 2s ease-out;
}

.card-list-items.removing {
  opacity: 0;
  height: 0;
  padding: 0;
  margin-left: 300px;
}

#sad-emoji {
  color: rgb(21, 181, 40);
  font-size: 4rem;
  width: 100px;
}
#cry-emoji {
  color: rgb(197, 2, 34);
  font-size: 4rem;
  width: 100px;
  margin: 10px 0;
}

@media screen and (max-width: 580px) {
.card-list {
  position: fixed;
  bottom: 5%;
  right: -600px;
  max-width: 400px;
  background-color: #fefefe;
  transition: 0.5s;
  box-shadow: 0 40px 60px black;
  padding: 5px 10px;
  border-radius: 25px;
  z-index: 99;
}
}