/* hightlighting view-cart-btn in  navigation bar */
.nav-bar-btn {
  background-color: white;
}
.view-cart-btn {
  background-color: aqua;
  border-radius: 20px;
}
.view-cart-btn:hover {
  background-color: white;
}

/*  cart list TABLE  */
.cart-list-section {
  margin-top: 2rem;
  user-select: text;
}
.cart-list-section h2 {
  margin-bottom: 0.8rem;
  text-align: center;
}
.cart-list-section a {
  text-align: center;
  display: block;
  margin: 1rem auto;
}
#mobile-btn {
  display: none;
}
#cart-list-table {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

#cart-list-table:hover {
  box-shadow: none;
}
#cart-list-table thead {
  height: 58px;
  line-height: 50px;
}
#cart-list-table tbody td {
  height: 2.8rem;
  color: black;
}
#cart-list-table tr {
  box-shadow: 1px 1px 4px rgb(222 218 218);
  border-radius: 5px;
}

#cart-list-table .product-tbl-img {
  width: 85px;
  height: 100px;
}

#cart-list-table .view-cart-a,
#cart-list-table .remove-cart-a {
  padding: 10px 15px;
  border-radius: 3px;
  width: 100px;
}
#cart-list-table .checkout-btn {
  padding: 10px 15px;
  height: 15px;
  width: 90px;
  font-size: 1rem;
  line-height: 15px;
}
 
/* custom style of quantity counter for orderlist.php */
#cart-list-table .product-quantity-wrapper {
  margin: auto;
}

#cart-list-table .subtotal-col {
  text-align: right;
  width: 100px;
}

#empty-cart-noti-form {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 420px;
  height: 160px;
  transform: translate(-50%, -50%);
  border: 0.3px solid grey;
  box-shadow: 3px 4px 6px black;
  background-color: whitesmoke;
  z-index: 100;
  padding: 25px;
  border-radius: 35px;
}
#empty-cart-noti-form div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#empty-cart-noti-form a {
  width: 100px;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
}
#empty-cart-noti-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}
#empty-cart-noti-form #sad-emoji {
  color: rgb(255, 172, 48);
  font-size: 5rem;
}

.ask-login-btn {
  color: white;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 15px;
}
.img-col {
  display: block;
}
@media screen and (max-width: 670px) {
  .hide-col {
    display: table-column;
  }
  #cart-list-table {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  #cart-list-table .view-cart-a,
  #cart-list-table .remove-cart-a {
    display: block;
    border: none;
    width: 50px;
  }
  #cart-list-table .checkout-btn {
    font-size: 1rem;
  }

  #cart-list-table .checkout-btn {
    height: 15px;
    font-size: 1rem;
    line-height: 15px;
    font-weight: 600;
  }
  #hide-order-btn {
    display: none;
  }
  #mobile-btn {
    display: block;
    height: 30px;
    line-height: 30px;
  }
}
