/* ---------- content ------------

1. login wrapper div 
2. lgoin-form section
3. login form style
   3.1 login form image
   3.2 Form styleing

---------------------- */
body{
  background-color: white;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
input:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}
.nav-bar-btn {
  background-color: white;
}
.login-btn {
  background-color: aqua;
  border-radius: 20px;
}
.login-btn:hover {
  background-color: white;
}
/* wrapper div  */
.login-wrap {
  display: flex;
  height: 520px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  /* text-align: center; */
}
 
/* section  */
.login-form-section {
  width: 500px;
  height: 100%;
  padding: 0px 70px 50px 70px;
  border-radius: 15px;
}
/* 3. login form style */

/* 3.1 login form image */
#login-img {
  width: 605px;
  height: 100%;
  background-image: url("../../images/login-img.png");
  background-size: cover;
}
/* Forms styling */
.login-form-section .sign-in-form,
.login-form-section .sign-up-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}

.login-form-section .sign-in-rdbtn,
.login-form-section .sign-up-rdbtn,
.login-form .group .check {
  display: none;
}

 .login-form .group .button {
  text-transform: uppercase;
}
.login-form .group .label {
  margin: 0.6rem 0;
}
.login-form-section .tab {
  display: inline-block;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  border-bottom: 2px solid transparent;
  font-size: 22px;
}

.login-form-section .sign-in-rdbtn:checked + .tab,
.login-form-section .sign-up-rdbtn:checked + .tab {
  color: #ff6200;
  border-color: #00ffff;
}

.login-form {
  position: relative;
  min-height: 345px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-form .group {
  margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  display: block;
  width: 100%;
  font-size: 1rem;
}
 
.login-form .group .input,
.login-form .group .button {
  border: none;
  border-bottom: 2px solid #000;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}
.login-form .group .button {
  background-color: #00ffff;
  padding: 10px;
  border-radius: 7px;
  border: none;
}
 
#form-cancel{
  color: rgb(255, 0, 195);
  border: 1px solid rgb(255, 0, 195);
  background-color: transparent;
}
#form-sign-in:hover,
#form-sign-up:hover{
  background-color: #0c023a;
  color: white;
  cursor: pointer;
}
#form-cancel:hover{
  background-color: rgb(255, 0, 195);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.login-form .group input[data-type="password"] {
  -webkit-text-security: circle;
}

.login-form .group .label {
  font-size: 1rem;
}

.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  outline: 1px solid black;
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}

.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
  color: #010128;
}

.login-form .group .check:checked + label .icon {
  background: #00ffff;
}

.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}

.login-form-section
  .sign-in-rdbtn:checked
  + .tab
  + .sign-up-rdbtn
  + .tab
  + .login-form
  .sign-in-form {
  transform: rotate(0);
}

.login-form-section .sign-up-rdbtn:checked + .tab + .login-form .sign-up-form {
  transform: rotate(0);
}

.hr {
  height: 1.5px;
  margin: 30px 0;
  background: rgba(77, 77, 77, 0.2);
}

.foot-link {
  text-align: center;
  cursor: pointer;
}

.social {
  margin-top: 30px;
  display: flex;
}

.social div {
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  text-align: center;
}

.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
  margin-left: 25px;
}

.social i {
  margin-right: 4px;
}

/* overlay and popup valid or invalid noti */
#user-authentication-noti-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}
#user-authentication-noti-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 495px;
  height: 160px;
  transform: translate(-50%, -50%);
  border: 0.3px solid grey;
  box-shadow: 3px 4px 6px black;
  background-color: whitesmoke;
  z-index: 100;
  padding: 25px;
  border-radius: 35px;
}
#user-authentication-noti-form div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#user-authentication-noti-form a {
  width: 100px;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
}
#user-authentication-noti-form #sad-emoji,
#user-authentication-noti-form #smilly-emoji {
  font-size: 5rem;
}
#user-authentication-noti-form #sad-emoji {
  color: rgb(255, 172, 48);
}
#user-authentication-noti-form #smilly-emoji {
  color: rgb(33, 250, 5);
}
#user-authentication-noti-form a {
  display: block;
  height: 50px;
  line-height: 50px;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 780px) {
#login-img {
  display: none;

}

}