#header {
    display: flex;
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: var(--color-white);
}
.nav-bar-left{
    width: 380px;
}
.nav-bar-right{
    display: flex;
    width: 300px;
}
.nav-bar ul {
    display: flex;
    align-items: center;
 
  }
  .nav-bar-right ul{
    justify-content: space-around;
    width: 100%;
  }
  .nav-bar-right ul li{
    padding: 25px;
    color: var(--color-dark);
  }
  .nav-bar-right ul a:hover li{
    cursor: pointer;
    color:var(--color-primary);
  }

  #store-name{
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 3px;
    font-family: fangsong; 
  }