/* =====Content ======== 
1. Product styling
   1.1 typography
   1.2 image styling
================ */

.product-section {
  margin: 0;
 
}

/* 1.1 typography */
/* .product-section h2{
  text-indent: 3rem;
} */
 
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* padding: 0px 100px; */
}
.product-card {
  width: 250px;
  text-align: center;
  box-shadow: 3px 2px 10px black;
  border-radius: 20px;
  margin: 12px;
  background-color: #fff;
  transition: 1s all ease;
}
.product-card .product-image {
  width: 200px;
  height: 190px;
  margin: 10px 5px 0 5px;
  border-radius: 20px;
  object-fit: scale-down;
}
.product-card:hover .product-image {
  width: 220px;
  object-fit: cover;
}

.actual-price {
  text-decoration: line-through;
  color: rgb(163, 166, 166);
}
.discount-price {
  color: red;
}
.cart-btn-part {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-description-link {
  text-decoration: none;
  color: brown;
}
.add-to-cart {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#cart-btn {
  font-size: 1.5rem;
  color: black;
  margin-left: 1rem;
}
#cart-btn:hover {
  color: green;
}
.cart-description h3,
h4 {
  margin: 5px auto;
}

/* Stock status */
.product-card form {
  position: relative;
}
.product-card .stock-info {
  position: absolute;
  top: 0;
  left: -10px;
  padding: 8px 14px;
  color: aliceblue;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 800;
}
.product-card .stock-info.out-stock {
  background-color: rgb(230, 22, 15);
}
.product-card .stock-info.in-stock {
  background-color: rgb(2, 124, 2);
}
 .item-title{
  text-transform: capitalize;
}
@media screen and (max-width: 1300px) {
.product-card {
  width: 220px;
  margin: 15px 10px;
}
.product-container {
  padding: 0px 40px;
}
}
/* For tablet */
@media screen and (max-width: 1060px) {
  .product-container {
    padding: 0px;
  }
  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-card {
    width: unset;
    height: unset;
    margin: 15px;
  }

  .product-card .product-image {
    width: 125px;
    margin: 0;
  }

  .product-info-div {
    width: 125px;
    height: 100%;
  }
}
/* For mobile */
@media screen and (max-width: 840px) {
  .product-card {
    min-width: 200px;
    height: unset;
    margin: 10px;
  }
  .product-card .product-image {
    width: 100px;
    margin: 0;
  }
  .product-info-div {
    width: 220px;
    height: 100%;
  }
  .cart-description h3,
  h4 {
    font-size: 1rem;
  }
}

/* For mobile and large phone*/
@media screen and (max-width: 680px) {
  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .product-card {
    min-width: 200px;
    height: unset;
    box-shadow: none;
    margin: 10px;
  }
  .product-card .product-image {
    width: 200px;
    margin: 5px;
  }
  .product-info-div {
    width: 200px;
    height: 100%;
  }
  .cart-description h3,
  h4 {
    font-size: 1rem;
  }
  .cart-description h3,
  h4 {
    font-size: 1rem;
  }
}
/* For small mobile  */
@media screen and (max-width: 680px) {
 
  .product-card {
    min-width: 180px;
    height: unset;
    box-shadow: none;
    margin: 5px;
  }
  .product-card .product-image {
    width: 180px;
    margin: 0px;
  }
  .product-info-div {
    width: 180px;
    height: 100%;
  }
  .cart-description h3,
  h4 {
    font-size: .7rem;
  }
  .cart-description h3,
  h4 {
    font-size: .75rem;
  }
}
