/* ========= content =========
1. trend-product wrapper styling
2. next and previous buttons
  2.1 buttons animation
3. carousel styling for dragging and no-transition
4. parent of the product cart  (li) styling
5. product card styling
 ===========================*/

#product-slider-section {
  /* background-color: white; */
}
#trends-product-title{
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: 5px;
}
/* 1. trend-product wrapper styling */
.trend-product-wrapper {
  max-width: 1100px;
  width: 80%;
  position: relative;
  margin: 10px auto;
}

/* 2. next and previous buttons */
.trend-product-wrapper #left-arrow-btn,
#right-arrow-btn {
  position: absolute;
  top: 50%;
  height: 50px;
  line-height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.4s linear;
  color: var(--color-primary);
}
.trend-product-wrapper #left-arrow-btn {
  left: -70px;
}
.trend-product-wrapper #right-arrow-btn {
  right: -70px;
}
.trend-product-wrapper #left-arrow-btn,
.trend-product-wrapper #right-arrow-btn {
  font-size: 3rem;
}
/* 2.1 buttons animation */
.trend-product-wrapper #left-arrow-btn:active,
.trend-product-wrapper #right-arrow-btn:active {
  transform: translateY(-50%) scale(1.85);
}

/* 3. carousel styling for dragging and no-transition */
.trend-product-wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  transition: all 0.3s ease-out;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .product-card {
  cursor: grab;
  user-select: none;
}

/* 4. parent of the product cart  (li) styling */
.carousel li {
  width: 200px;
  height: 300px;
}

/* 5. product cart styling */
.carousel .product-card {
  position: relative;
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  list-style: none;
  background-color: transparent;
  cursor: pointer;
  box-shadow: none;
}
.product-card .product-img{
  width: 120px;
  height: 140px;
  object-fit: scale-down;
}
.carousel .product-card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .product-card span {
  font-size: 1rem;
}
.product-card .old-price {
  text-decoration: line-through;
  color: grey;
  font-size: 0.075rem;
}
.product-card:hover .product-img {
  width: 160px;
  object-fit: fill;
}
@media screen and (max-width: 900px) {
  .trend-product-wrapper .carousel {
    grid-auto-columns: calc((100% / 3) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .trend-product-wrapper .carousel {
    grid-auto-columns: 50%;
  }
  .trend-product-wrapper #left-arrow-btn {
    left: -40px;
  }
  .trend-product-wrapper #right-arrow-btn {
    right: -40px;
  }
  .trend-product-wrapper #left-arrow-btn,
  .trend-product-wrapper #right-arrow-btn {
    font-size: 1.5rem;
  }
}
