#setting {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  padding: 20px;
  border-radius: 15px;
}

#setting .title {
  margin: 1rem 0;
}

#setting #setting-container {
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 20px;
}
.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 1rem;
  box-shadow: 2px 3px 4px var(--color-white);
}
.user-img,
.user-img img {
  display: inline-block;
  object-fit: cover;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 0.5px solid grey;
}
.grid-form .group {
  width: 100%;
  height: 90px;
}
.grid-form .group label {
  display: inline-block;
  margin: 1rem 0;
}
.grid-form .group input {
  width: 100%;
  height: 40px;
  margin: 0;
  border: none;
  outline: 0.5px solid rgb(129, 124, 124);
  border-radius: 5px;
  text-indent: 1rem;
}

#setting-btns {
  display: flex;
  justify-content: space-around;
}

#update-btn,
#change-admin-password-btn {
  min-width: 120px;
  height: 40px;
  margin: 20px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}
#update-btn:hover,
#change-admin-password-btn:hover {
  cursor: pointer;
  color: black;
}

/* Pop up form for change password */

#popup-form-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
#popup-form-change-password {
  background-color: aliceblue;
  padding: 30px;
  border-radius: 20px;
  position: relative;
}
#popup-change-password-form label {
  display: block;
  height: 30px;
  line-height: 30px;
  color: var(--color-information);
}
#popup-change-password-form #new-password,
#popup-change-password-form #confirm-password {
  line-height: 1.3rem;
}

#popup-change-password-form > i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: var(--color-dark);
  cursor: pointer;
}
#popup-change-password-form > i:hover {
  color: var(--color-danger);
}
#popup-change-password-form input[type="submit"] {
  cursor: pointer;
  margin-top: 25px;
  padding: 10px 15px;
}

/* password mismatched animation */

.password-match-error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  visibility: hidden;
}

.shake-animation {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 780px) {
  #setting {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }
  .user-img,
.user-img img {

  border-radius: 10px;
 
}
}
