/*===== content ======
 1. Sidebar styling
  1.1 Top of the sidebar styling 
  1.2 Functionality styling 
  1.3 button active & hover effects
2. Pop-up-authentication
3. Media QUERY
=====================*/

/*  1. Sidebar styling */
#sidebar {
  height: 100dvh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 2px 6px grey;
}
/* 1.1 Top of Sidebar styling */
#sidebar .logo{

  display: flex;
      justify-content: center;
}
#sidebar .logo img {
  height: 120px;
}
#sidebar .close {
  display: none;
}
#sidebar.logout {
  position: absolute;
  bottom: 5rem;
}
/*  1.2 Function of Sidebar styling */
#sidebar .sidebar-function-container {
  height: 86dvh;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-left: 35px;
  position: relative;
  top: 10px;
}
.sidebar-function-container h3 {
  font-weight: 500;
}
.sidebar-function-container a i {
  transition: all 0.5s ease;
}
.sidebar-function-container a {
  display: flex;
  width: 100%;
  color: var(--color-info-dark);
  margin-left: 6rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.5rem;
  transition: all 0.3s ease;
}

.sidebar-function-container .report-count {
  background-color: var(--color-danger);
  color: var(--color-white);
  padding: 2px 10px;
  font-size: 0.77rem;
  border-radius: var(--border-radius-1);
}

/* 1.3 button active & hover effects */

.sidebar-function-container a.active {
  background-color: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}
.sidebar-function-container a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background-color: var(--color-primary);
}

.sidebar-function-container a:hover {
  color: var(--color-primary);
}

.sidebar-function-container a:hover i {
  margin-left: 1rem;
}

/* 2. Pop-up-authentication */
.authentication-check-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
#popup-form-authentication-check > div {
  position: relative;
  background-color: var(--color-white);
  padding: 25px;
  border-radius: 5px;
}

#popup-authentication-form > i {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.5rem;
  color: var(--color-dark);
  cursor: pointer;
}
#popup-authentication-form > i:hover {
  color: var(--color-danger);
}
#popup-authentication-form input[type="submit"] {
  cursor: pointer;
}

/*================== MEDIA QUERIES ================== */
/* For tablet */

@media screen and (max-width: 1200px) {
  #sidebar .sidebar-function-container h3 {
    display: none;
  }
  #sidebar .sidebar-function-container a {
    width: 5.6rem;
  }
  #sidebar .sidebar-function-container a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }
}
/* For  tablet */
/* @media screen and (max-width: 780px) {
  #sidebar {
    position: fixed;
    left: -100%;
    background-color: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-white);
    height: 100dvh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 300ms ease forwards;
  }
  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  #sidebar .logo {
    margin-left: 1rem;
  }
  #sidebar .sidebar-function-container h3 {
    display: inline;
  }
  #sidebar .sidebar-function-container a {
    width: 100%;
    height: 3.4rem;
  }
  #sidebar .sidebar-function-container a:last-child {
    position: absolute;
    bottom: 5rem;
  }
  #sidebar .close {
    display: inline-block;
    cursor: pointer;
  }
} */
