<section class="slider-section">
  <div class="slider-container">
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <a href="">
            <div id="custom-keyboards-ads1"></div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="hero.html">
            <img src="../images/Slider/freeship.png" alt="" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="">
            <div id="custom-keyboards-ads2"></div>
          </a>
        </div>

        <div class="swiper-slide">
          <a href="">
            <img src="../images/Slider/freeship1.png" alt="" />
          </a>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
